#footer{
	margin-top: 245px;
	clear:both;
	position: relative;
}
footer{
	background: #313233;
	width: 100%;

  }
  footer::before{
	content: '';
	position: absolute;
	left: 0;
	top: 100px;
	bottom: 0;
	left: 0;
	height: 1px;
	width: 100%;
	background: transparent;
  }
  footer .content{
	max-width: 1250px;
	margin: auto;
	padding: 40px 100px 100px 100px;
  }
  footer .content .top{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 50px;
  }
  .content .top .logo-details{
	color: #fff;
	font-size: 30px;
  }
  
  footer .content .link-boxes{
	width: 100%;
	display: flex;
	justify-content: space-between;
  }
  footer .content .link-boxes .box{
	width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	margin-bottom: 10px;
	position: relative;
  }
  .link-boxes .box .link_name::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -2px;
	height: 2px;
	width: 35px;
	background: #fff;
  }
  .content .link-boxes .box li{
	margin: 6px 0;
	list-style: none;
  }
  .content .link-boxes .box li a{
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	text-decoration: none;
	opacity: 0.8;
	transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
	opacity: 1;
	text-decoration: underline;
  }
  
  
  @media (max-width: 900px) {
	footer .content .link-boxes{
	  flex-wrap: wrap;
	}
  }
  @media (max-width: 700px){
	footer{
	  position: relative;
	}
	.content .top .logo-details{
	  font-size: 26px;
	}
  
	footer .content .link-boxes .box{
	  width: calc(100% / 3 - 10px);
	}
  
  @media (max-width: 520px){
	footer::before{
	  top: 145px;
	}
	footer .content .top{
	  flex-direction: column;
	}
   
	footer .content .link-boxes .box{
	  width: calc(100% / 2 - 10px);
	}
   
  }
  }